dictionnaries/french/DicFra.csv
dictionnaries/french/betDic.py
dictionnaries/french/frequency.txt
dictionnaries/french/betDicOrdered.py
dictionnaries/french/orderedlist.txt
Loci/*.csv
word_temp.txt
num_temp.txt
lociManager.py
bin_temp.txt
binaries_feat.py
temp.txt
dates_temp.txt
pygame MOL/
feats.pyc
pygame MOL.zip
rawDatas/numbers - Copie.csv
.metadata/
.project
.pydevproject
dates/dates.csv
Training_analysis/figure/
